
html{
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
body{
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 0;
}
.spacer-128 {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
  height: 128px;
  z-index: -9999;
}
.spacer-64 {
  height: 64px;
}
a {
  border: none;
  color: transparent;
}
h1,h2,p {
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h2.title {
  font-size: 4rem;
  margin: auto;
  text-align: center;
}

img.fa {
  display: flex;
  height: 3rem;
  color: white;
}

p {
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

div.flex-grow {
  flex: 1;
}
div.flex-column{
  display: flex;
  flex-direction: column;
}
div.flex-row{
  display: flex;
  flex-direction: row;
}

button.red {
	background-color: #FF0000;
  border: 1px inset white;
	border-radius: 18px;
  cursor: pointer;
  display: flex;
  height: 4rem;  
  width: 12rem;

	span {
		color: white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
		font-weight: 900;
		margin: auto;
	}
}

section {
  display: flex;
  flex-direction: column;
}

section#navbar {
	background-color:#282828;
  height: 5rem;
  margin-left: 0%;
  position: fixed;
  width: 100%;

  div.navbar-inside {
    display: flex;
    margin: auto 2rem auto 2rem;
		padding: 0 2rem;
    justify-content: space-between;
		h1 {
			color: white;
			font-family: "Roboto", Arial, Helvetica, sans-serif;
      padding-left: 8px;
      padding-right: 8px;
		}

		img {
			height: 2.5rem;
			margin: auto 2rem;
		}
  }
}


section#welcome {
  margin-top: 5rem;
  height: 100vh;

  video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  h1.title {
    font-size: 5rem;
    text-shadow: 2px 2px #000000;
    margin: auto auto 5rem auto;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-shadow: 2px 2px #000000;
    margin: auto auto 5rem auto;
    text-align: center;
  }

  div {
    display: flex;
    margin: auto;
    width: 100%;
  }


  img {
    margin-left: auto;
    object-fit: scale-down;
    height: 7rem;
    width: 7rem;
  }

  i {
    color: white;
    font-size: 5rem;
  }
}

section#portfolio {
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
  div.container {
    margin-top: 5vh;
    height: 40vh;
    width: 100%;
    .short {
      align-items: center;
      cursor: pointer;
      width: 20%;
      img {
        border: 2px solid white;
        margin: auto;
        width: 100%;
      }
    }
    .wide{
      align-items: center;
      cursor: pointer;
      margin: auto;
      width: 30%;
      img {
        border: 2px solid white;
        width: 100%;
      }
    }
  }
  a {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 20%;
  }

  div.why_me {
    img#certif {
      margin: auto;
      object-fit: scale-down !important;
      height: auto;
      width: 70%;
    }
  }

  div.gauche {
    align-items: center;
    width: 25%;

    div.item {
      margin-bottom: 2rem;
    }
  }

  div.milieu {
    align-items: center;
    width: 50%;

    div.special {
      width: 100%;
      div.item {
        margin: 2rem auto;
      }
    }
  }

  div.droite {
    align-items: center;
    width: 25%;

    div.item {
      margin-bottom: 2rem;
    }
  }
}

section#contact {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
  height: 20%;
  width: 100%;


  img.small {
    height: 5rem;
    margin: auto 0 auto 1rem;
    width: 5rem;
  }
  img.bigger {
    height: 9rem;
    margin: auto;
    width: 9rem;
  }

  div.card {
    border-radius: 16px;
    border: 2px solid gray;
    cursor: pointer;
    // background-color: gray;
  }

  div.contact {
    align-items: center;
    width: 100%;

    p.desc {
      font-size: 3rem;
      font-weight: 500;
    }

    button {
      margin: auto;
    }

    h1 {
      font-size: 3rem;
      text-align: center;
    }
  }

  div.mail {
    margin: auto;
  }
}


@media only screen and (min-width: 0px) and (max-width: 1280px) {

  video {
    display: none;
  }
  section#navbar {
    background-color:#282828;
    height: 5rem;
    position: fixed;
    width: 100%;
  
    div.navbar-inside {
      align-items: center;
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: space-between;

      h1 {
        font-size: 2rem;
      }
      img {
        margin: 0.1rem !important;
      }
    }
  }

  p {
    text-align: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }

  div.contact {
    h1 {
      font-size: 1rem;
    }
  }
  div.links {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    div {
      align-items: center;
      justify-content: center;
    }
  }

  p.desc {
    font-size: 1.2rem !important;
    margin-right: 8px;
  }
}
